/*
Light shades
Use this color as the background for your dark-on-light designs,
or the text color of an inverted design.

Light accent
Accent colors can be used to bring attention to design elements by
contrasting with the rest of the palette.

Main brand color
This color should be eye-catching but not harsh.
It can be liberally applied to your layout as its main identity.

Dark accent
Another accent color to consider. Not all colors have to be used - sometimes a
simple color scheme works best.

Dark shades
Use as the text color for dark-on-light designs,
or as the background for inverted designs.
*/
:root {
  --light-shades: #f1d588;
  --light-accent: #247477;
  --light-accent-test: #b3410d;
  --main-brand-color: #39b7bc;
  --dark-shades: #28424a;

  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* scroll */
html::-webkit-scrollbar {
  width: 11px;
}
html::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html {
  height: 100vh;
  overflow-y: auto;
  /* font: 100%/1.4 serif; */
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
}
/* scroll end */

body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  background-color: var(--light-shades);
}

#nuevo-proyecto {
  margin-bottom: 7px;
}

.contenedor-formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.contenedor-formulario h1 {
  text-align: center;
  color: white;
}
.contenedor-formulario h1 span {
  font-weight: 400;
  font-size: 1.2rem;
}
.contenedor-formulario h1 {
  color: var(--main-brand-color);
}
.caja-login {
  background-color: var(--main-brand-color);
  border: transparent;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
  min-height: 300px;
  -webkit-box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.56);
  padding: 3rem;
}
.campo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
}
.campo label {
  flex: 0 0 120px;
  text-align: right;
  padding-right: 1rem;
  font-weight: bolder;
}
.campo input[type='text'],
.campo input[type='password'] {
  height: 3rem;
  outline: none;
  border: none;
  flex: 1;
  background-color: #81c3c5;
  border-radius: 4px;
  padding-left: 2rem;
  box-shadow: inset 0px 1px 8px 0px var(--light-accent);
}
.campo input:focus {
  color: wheat;
  background-color: var(--main-brand-color);
  outline: none;
  border: none;
  box-shadow: inset 0px 1px 8px 0px var(--light-accent);
}
.agretar-tarea {
  display: inline-block;
  background-color: var(--main-brand-color);
  margin: 0 auto;
  padding: 0.4rem;
  height: auto;
  transition: background-color 0.5s ease-in-out;
}

.enviar {
  justify-content: flex-end;
}
.boton {
  color: black;
  background-color: var(--light-shades);
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  /* box-shadow: 6px 5px 11px 0px rgba(0,0,0,0.47); */
  box-shadow: 0px 10px 13px -7px #00000041, 6px 5px 11px 0px rgba(0, 0, 0, 0);
}
.boton:hover {
  cursor: pointer;
  background-color: #f3dea5;
  color: var(--light-accent);
}

.campo a, .alert{
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
.alert {
  line-height: 1.5rem;
}

.campo a:hover {
  color: var(--light-accent);
}

/** Barra **/

.barra {
  background-color: var(--light-accent);
  padding: 1rem;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 8px 15px -9px #000000;
}
.barra h1 {
  color: white;
  margin: 0;
  font-size: 1.4rem;
}
.barra a {
  color: white;
  text-decoration: none;
}

/*** sidebar**/
.contenedor-proyectos {
  min-height: 100vh;
  max-width: 300px;
  background-color: var(--light-accent);
  padding-top: 1rem;
}
.panel {
  padding: 1rem;
  margin: 1rem;
}
.panel > a {
  text-decoration: none;
}
.panel li a {
  color: var(--light-shades);
  width: 20ch;
  font-weight: bold;
  text-decoration: none;
}
.panel li a:hover {
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(255, 255, 255, 0.5);
}
.lista-proyectos ul {
  list-style: none;
  padding: 1.5rem 0 0 0;
  margin: 0;
}
.lista-proyectos ul li {
  margin-bottom: 1rem;
}

.panel h2 {
  color: var(--light-shades);
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  /* box-shadow: inset 0px 1px 8px 0px var(--light-accent); */
}

.crear-proyecto i {
  margin-left: 1rem;
}
.crear-proyecto a {
  color: #676849;
}

/** Contenido Principal */
.contenedor {
  display: flex;
  height: calc(100% - 60px);
}
.contenido-principal {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}
.contenido-principal h1,
.contenido-principal h2 {
  text-align: center;
}
.contenido-principal h1 {
  font-size: 1.8rem;
}
.contenido-principal h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
}
.contenido-principal h1 span {
  font-weight: 400;
}
.agregar-tarea {
  max-width: 800px;
  width: 90%;
  background-color: var(--main-brand-color);
  margin: 0 auto;
  padding: 2rem;
  transition: background-color 0.2s ease-in-out;
}

/** Listado Pendientes **/
.listado-pendientes {
  background-color: #f2f2f2;
  max-width: 800px;
  width: 90%;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  border: 1px solid #999;
}
.listado-pendientes ul {
  padding: 0;
  list-style: none;
}
.listado-pendientes ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {
  border-bottom: none;
}
.listado-pendientes ul li i {
  cursor: pointer;
}
.acciones i:last-child {
  margin-left: 3rem;
}
.checked {
  color: #00b762;
}
.alerta {
  background-color: red;
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
